################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tally/.vs/Tally
/Tally/Tally/bin/Debug/net9.0
/Tally/Tally/obj/Debug/net9.0/compressed
/Tally/Tally/obj/Debug/net9.0/ref/Tally.Core.dll
/Tally/Tally/obj/Debug/net9.0/refint/Tally.Core.dll
/Tally/Tally/obj/Debug/net9.0/apphost.exe
/Tally/Tally/obj/Debug/net9.0/rbcswa.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/rjimswa.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/rpswa.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/Tally/Tally/obj/Debug/net9.0/staticwebassets.build.json
/Tally/Tally/obj/Debug/net9.0/staticwebassets.build.json.cache
/Tally/Tally/obj/Debug/net9.0/staticwebassets.development.json
/Tally/Tally/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/Tally/Tally/obj/Debug/net9.0/Tally.Core.AssemblyInfo.cs
/Tally/Tally/obj/Debug/net9.0/Tally.Core.AssemblyInfoInputs.cache
/Tally/Tally/obj/Debug/net9.0/Tally.Core.assets.cache
/Tally/Tally/obj/Debug/net9.0/Tally.Core.csproj.CoreCompileInputs.cache
/Tally/Tally/obj/Debug/net9.0/Tally.Core.csproj.FileListAbsolute.txt
/Tally/Tally/obj/Debug/net9.0/Tally.Core.dll
/Tally/Tally/obj/Debug/net9.0/Tally.Core.GeneratedMSBuildEditorConfig.editorconfig
/Tally/Tally/obj/Debug/net9.0/Tally.Core.genruntimeconfig.cache
/Tally/Tally/obj/Debug/net9.0/Tally.Core.pdb
/Tally/Tally/obj/Debug/net9.0/Tally.Core.sourcelink.json
/Tally/.vs/ProjectEvaluation
/Tally/Tally/obj/Debug/net9.0
/Tally/Tally/obj/Release/net9.0/Tally.Core.AssemblyInfo.cs
/Tally/Tally/obj/Release/net9.0/Tally.Core.AssemblyInfoInputs.cache
/Tally/Tally/obj/Release/net9.0/Tally.Core.assets.cache
/Tally/Tally/obj/Release/net9.0/Tally.Core.csproj.AssemblyReference.cache
/Tally/.vs/CopilotSnapshots/EB3791FCF822B34DB7CA9098F9609BC5
/Tally/Tally/obj
/Tally/.vs/CopilotSnapshots/2A739F83FC694549B12A49CD9ED9A142
/Tally/Tally.Api/bin/Debug/net9.0
/Tally/Tally.Api/obj/Debug/net9.0
/Tally/Tally.Data/bin/Debug/net9.0
/Tally/Tally.Data/obj
/Tally/Tally.Api/obj
/Tally/Tally/obj/Release/net9.0/Tally.Core.GeneratedMSBuildEditorConfig.editorconfig
