################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tally/.vs/Tally
/Tally/Tally/bin/Debug/net9.0
/Tally/Tally/obj/Debug/net9.0/compressed
/Tally/Tally/obj/Debug/net9.0/ref/Tally.Core.dll
/Tally/Tally/obj/Debug/net9.0/refint/Tally.Core.dll
/Tally/Tally/obj/Debug/net9.0/apphost.exe
/Tally/Tally/obj/Debug/net9.0/rbcswa.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/rjimswa.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/rpswa.dswa.cache.json
/Tally/Tally/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/Tally/Tally/obj/Debug/net9.0/staticwebassets.build.json
/Tally/Tally/obj/Debug/net9.0/staticwebassets.build.json.cache
/Tally/Tally/obj/Debug/net9.0/staticwebassets.development.json
/Tally/Tally/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/Tally/Tally/obj/Debug/net9.0/Tally.Core.AssemblyInfo.cs
/Tally/Tally/obj/Debug/net9.0/Tally.Core.AssemblyInfoInputs.cache
/Tally/Tally/obj/Debug/net9.0/Tally.Core.assets.cache
/Tally/Tally/obj/Debug/net9.0/Tally.Core.csproj.CoreCompileInputs.cache
/Tally/Tally/obj/Debug/net9.0/Tally.Core.csproj.FileListAbsolute.txt
/Tally/Tally/obj/Debug/net9.0/Tally.Core.dll
/Tally/Tally/obj/Debug/net9.0/Tally.Core.GeneratedMSBuildEditorConfig.editorconfig
/Tally/Tally/obj/Debug/net9.0/Tally.Core.genruntimeconfig.cache
/Tally/Tally/obj/Debug/net9.0/Tally.Core.pdb
/Tally/Tally/obj/Debug/net9.0/Tally.Core.sourcelink.json
/Tally/.vs/ProjectEvaluation
/Tally/Tally/obj/Debug/net9.0
/Tally/Tally/obj/Release/net9.0/Tally.Core.AssemblyInfo.cs
/Tally/Tally/obj/Release/net9.0/Tally.Core.AssemblyInfoInputs.cache
/Tally/Tally/obj/Release/net9.0/Tally.Core.assets.cache
/Tally/Tally/obj/Release/net9.0/Tally.Core.csproj.AssemblyReference.cache
/Tally/.vs/CopilotSnapshots/EB3791FCF822B34DB7CA9098F9609BC5
/Tally/Tally/obj
/Tally/.vs/CopilotSnapshots/2A739F83FC694549B12A49CD9ED9A142
/Tally/Tally.Api/bin/Debug/net9.0
/Tally/Tally.Api/obj/Debug/net9.0
/Tally/Tally.Data/bin/Debug/net9.0
/Tally/Tally.Data/obj
/Tally/Tally.Api/obj
/Tally/Tally/obj/Release/net9.0/Tally.Core.GeneratedMSBuildEditorConfig.editorconfig
/Tally/Tally.Web/Tally.Web/bin/Debug/net9.0
/Tally/Tally.Web/Tally.Web/obj/Debug/net9.0
/Tally/Tally.Web/Tally.Web/wwwroot
/Tally/Tally.Web/Tally.Web.Client/bin/Debug/net9.0
/Tally/Tally.Web/Tally.Web.Client/obj
/Tally/Tally/obj/Debug/net9.0/scopedcss/bundle/Tally.Core.styles.css
/Tally/Tally/obj/Debug/net9.0/scopedcss/projectbundle/Tally.Core.bundle.scp.css
/Tally/Tally/obj/Debug/net9.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Tally/Tally.Web/Tally.Web/obj/project.assets.json
/Tally/Tally.Web/Tally.Web/obj/project.nuget.cache
/Tally/Tally.Web/Tally.Web/obj/Tally.Web.csproj.nuget.dgspec.json
/Tally/Tally.Web/Tally.Web/obj/Tally.Web.csproj.nuget.g.props
/Tally/Tally.Web/Tally.Web/obj/Tally.Web.csproj.nuget.g.targets
/Tally/Tally/bin/Debug/net10.0
/Tally/Tally.Api/bin/Debug/net10.0
/Tally/Tally.Web/Tally.Web/bin/Debug/net10.0
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/compressed
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/jsmodules
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/ref
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/refint
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/scopedcss
/Tally/Tally.Web/Tally.Web.Client/bin/Debug/net10.0
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/apphost.exe
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/rbcswa.dswa.cache.json
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/rpswa.dswa.cache.json
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/staticwebassets.build.json
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/staticwebassets.build.json.cache
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/staticwebassets.development.json
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/swae.build.ex.cache
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.AssemblyInfo.cs
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.AssemblyInfoInputs.cache
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.csproj.AssemblyReference.cache
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.csproj.CoreCompileInputs.cache
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.csproj.FileListAbsolute.txt
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.csproj.Up2Date
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.dll
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.genruntimeconfig.cache
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.MvcApplicationPartsAssemblyInfo.cache
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.pdb
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.sourcelink.json
/Tally/Tally.Data/bin/Debug/net10.0
/Tally/Tally/obj/Debug/net9.0/Tally.Core.GlobalUsings.g.cs
/Tally/.vs/CopilotSnapshots/D5AD6FE96A747249AFBF47A3A12C978E
/Tally/.vs/CopilotSnapshots
/Tally/Tally.Web/Tally.Web/obj/Debug/net10.0/Tally.Web.assets.cache
