################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tally/.vs/Tally
/Tally/Tally/bin/Debug/net9.0
