@using MudBlazor
@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Primary">
        <MudText Typo="Typo.h6" Class="mr-8">Tally</MudText>
        <NavMenu />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.AccountCircle"
                       Color="Color.Inherit" Href="/login" />
    </MudAppBar>

    <MudMainContent Class="pa-4">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
